<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!--<add key="TPM-TrakConnectionString" value="Data Source=AMIT-DEV7\SQL2017STD; Initial Catalog=TPMMConnectBaselineChina;User ID=sa; password=pctadmin$123;"/>-->
    <add key="TPM-TrakConnectionString" value="Data Source=DESKTOP-H6A6P2I\SQLEXPRESS2017;Initial Catalog=TPM_MC_NEW;User ID=sa;Password=pctadmin$1234;"/>
		<!-- Change to "false" if you want to Disable logging for the application. -->
		<add key="EnableLogs" value="true"/>
		<!-- Time Delay in min for data aggregation. -->
		<add key="TimeInterval" value="1"/>
    <add key="TimeIntervalForRuntimeChartDataAggregation" value="1"/>
    <add key="IISDataFolderPath" value="C:\inetpub\wwwroot\MCWebAPI\Data"/>
    <add key="CloudWebAPIURLToUploadFile" value="" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
	</startup>
</configuration>
